.leglu-content-wrapper {
  padding-left: 1em;
}

.leglu-result-wrapper {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.leglu-rep {
  margin-bottom: 10px;
}

.leglu-rep__header {
  background-color: #8B4791;
  color: white;
  padding: 10px 30px 10px 10px;
}

.leglu-rep__header[class*="leglu-rep--Dem"] {
  background-color: #2C669B;
}

.leglu-rep__header[class*="leglu-rep--Rep"] {
  background-color: #E72542;
}

.leglu-rep__header:nth-child(n+2) {
  margin-top:5px;
}

.leglu-rep__header span {
  font-size: small;
}

.leglu-rep__full-name {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.leglu-rep__district:after {
  content: " |";
}

dt.leglu-rep__header,
dd.leglu-rep__content { margin: 0; }

.leglu-rep__content {
  background-color: #f1f1f1;
  padding: 10px;
}
/* clear fix */
.leglu-rep__content:after {
    content:" ";
    display:table;
    clear:both;
}

.leglu-rep__col-left {
  float: left;
  text-align: left;
  width: 150px
}

.leglu-rep__col-left img {
  height: auto;
  max-width: 100%;
}

.leglu-rep__col-right {
  margin-left: 160px;
}

.leglu-rep-contact div:first-child {
  margin-bottom: 1em;
}

.leglu-rep-contact p {
  margin-bottom: 0;
}

.leglu-rep-contact p span {
  display: inline-block;
}

.leglu-rep__chamber,
.leglu-rep__district,
.leglu-rep-office__name {
  text-transform: capitalize;
}

.leglu-credit {
  clear: both;
  font-size: small;
  font-style: italic;
  padding: 20px 0;
}

@media screen and (min-width:800px) {
  .leglu-content-wrapper,
  .leglu-result-wrapper {
    box-sizing: border-box;
    float: left;
    width:50%;
  }

  .leglu-result-wrapper { margin-bottom: 0; }
}

@media screen and (max-width: 400px) {
  .leglu-rep__full-name {
    display: block;
    margin: 0;
  }
  .leglu-rep__col-left {
    float: none;
    text-align: center;
    width: 100%;
  }
  .leglu-rep__col-right {
    margin-left: 0;
  }
}

/* Accordion Functionality */

.accordion .leglu-rep__header {
  cursor: pointer;
  position: relative;
}

.accordion .leglu-rep__header:after {
  content: "\276f";
  position: absolute;
  right: 10px;
  line-height: 1;
  top: 50%;
  margin-top: -0.5em;
  -webkit-transition:all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
}

.accordion .leglu-rep__header.leglu--active:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}


/*
* Loading Spinner
*
* created by @lukehaas https://projects.lukehaas.me/css-loaders/ with some modifications
*/
#leglu-input-spinner {
  margin: 5px 1em;
  text-indent: -9999em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: absolute;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#leglu-input-spinner:before {
  width: 50%;
  height: 50%;
  background: #276598;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
#leglu-input-spinner:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}